.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 25px;
}
.header .container {
  display: flex;
  height: 105px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .header-nav {
  height: 100%;
}
.header .header-nav .nav-list {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.header .header-nav .nav-list .nav-item {
  padding: 0 10px;
  font-size: 18px;
  color: #333;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.header .header-nav .nav-list .nav-item.active {
  border-bottom: 4px solid #178FCC;
}
