.main{
  background-color: #fff;
}
.main .bg{
  background-size: 100%;
  background-repeat: no-repeat;
}
.main .content:nth-child(1){
  background-image: url('../img/bg-1.png');
  height: 469px;
  margin-bottom: 60px;
}
.main .content:nth-child(2){
  background-image: url('../img/bg-2.png');
  height: 562px;
  margin-bottom: 60px;
}
.main .content:nth-child(3){
  background-image: url('../img/bg-3.png');
  height: 602px;
}

.main .content:nth-child(4){
  background-color: #F6F6F6;
}
.main .content:nth-child(5){
 background-color: #fff;
}
.main .content:nth-child(6),
.main .content:nth-child(7),
.main .content:nth-child(8){
  padding-top: 120px;
  background-color: #fff;
}



/* Technology start */
.main .content:nth-child(1) .container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%; 
}
.main .content:nth-child(1) h2{
  font-size: 50px;
}
.main .content:nth-child(1) h2:nth-child(2){
  margin-bottom: 34px;
}
.main .content:nth-child(1) p{
  font-size: 24px;
  color: #333333;
}
/* Technology end */

/* 公司介绍 start */
.main .content:nth-child(2) .container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.main .content:nth-child(2) h2{
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
.main .content:nth-child(2) .line::after{
  width: 100%;
}
.main .content:nth-child(2) p{
  text-align: center;
  font-size: 24px;
  color: #333333;
  color: #fff;
}
/* 公司介绍 end */

/* 盖尔德土壤检测设备 start */
.main .content:nth-child(3) .container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  padding-top: 123px;
}
.main .content:nth-child(3) .list .item{
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding-left: 41px;
  padding-right: 23.6px;
  align-items: center;
  width: 333px;
  height: 92px;
  font-size: 24px;
  font-family: 'GRDRegular';
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
}
.main .content:nth-child(3) .list .item:nth-child(even){
  margin:40px 0;
}
.main .content:nth-child(3) .list .item::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  opacity: 0.95;
  /* 值越大越模糊 */
  filter:blur(20px);
}
/* 盖尔德土壤检测设备 end */

.main .content:nth-child(3) .item img:nth-child(1){
  width:30px;
  height: 30px;
}
.main .content:nth-child(3) .item h4{
 padding-left: 15px;
}
.main .content:nth-child(3) .item img:nth-child(3){
  display: block;
  margin-left: auto;
  width: 24.89px;
  height: 15.22px;
}
/* 变大效果 */
.main .content:nth-child(3) .item:hover{
  background-color: #fff;
}


.main .content:nth-child(4) .container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: start;
  padding-top: 241px;
}
.main .content:nth-child(4) .promo{
  position: relative;
}
.main .content:nth-child(4) .promo>img{
  width: 312px;
  height: 887px;
}
.main .content:nth-child(4) .brick{
  position: absolute;
  width: 80.8px;
  height: 80.5px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .content:nth-child(4) .brick h5{
  position: absolute;
  right:-100px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: 'GRDRegular';
  width: 119.01px;
  line-height: 37.21px;
  background-color: #fff;
}
.main .content:nth-child(4) .brick:nth-child(1){
  top: 270.8px;
  left: -77.5px;
}
.main .content:nth-child(4) .brick:nth-child(2){
  top: 660.5px;
  left: -30.5px;
}

.main .content:nth-child(4) .aside img{
  margin-top: 84px;
  width: 685px;
  height: 443px;
}

.main .content:nth-child(6) h2,
.main .content:nth-child(6) p{
  text-align: center;
}
.main .content:nth-child(6) h2.line{
  margin-bottom:46px;
}
.main .content:nth-child(6) h2.line::after,
.main .content:nth-child(7) h2.line::after,
.main .content:nth-child(8) h2.line::after{
  margin: 0 auto;
  left: 0;
  right: 0;
}
.main .content:nth-child(6) p{
  font-size: 24px;
}
.main .content:nth-child(6) .list{
  margin-top: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.main .content:nth-child(6) .list .item{
  display: flex;
  box-sizing: border-box;
  padding-left: 23px;
  flex-flow: column nowrap;
  justify-content: center;
  width: 334px;
  height: 334px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
}
.main .content:nth-child(6) .list .item h3{
  font-size: 30px;
  font-family: 'GRDBold';
  color: #333333;
  padding-top: 18px;
  padding-bottom: 11px;
  text-align: left;

}
.main .content:nth-child(6) .list .item p{
  font-size: 20px;
  font-family: 'GRDRegular';
  text-align: left;
  color: #333333;
}


.main .content:nth-child(7) h2{
 text-align: center;
}
.main .content:nth-child(7) .list{
  padding-top: 66px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.main .content:nth-child(7) .item{
  padding: 10px 0;
}
.main .content:nth-child(7) .item img{
  display: block;
  margin: 0 auto;
  width: 333px;
  height: 198px;
  margin-bottom: 13px;
}
.main .content:nth-child(7) .item h4{
  font-size: 28px;
  color: #333;
  font-family: "GRDBold";
  width: 336px;
  text-align: left;
}



.main .content:nth-child(8) h2,
.main .content:nth-child(8) .more{
  text-align: center;
}
.main .content:nth-child(8) .container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%; 
}